body {
    margin: 0; 
    padding: 0; 
    text-align: center;
    background-color: antiquewhite;
}

.header {
    background-color: peru; 
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: initial;
}

.header__link{
    color: rgb(8, 230, 230);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.header__link--home {
    color: brown;
} 

.header__link:hover {
    color: gold;
    font-size: 16px;
}

.header__link--home:hover {
    color: gray;
    font-size: 16px
}

.tittle {
    text-align: initial ;
    display: flex;
}
.tittle h1 {
    text-align: center;
    justify-content: center;
   
}

.tittle div {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title__img {
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
    text-align: initial;
    position: absolute;
}

.title__text {
    color: black; 
    text-transform: uppercase;
    font-weight: bold;
}

.tittle__whatsapplink {
    width: 60px;
    position: fixed;
    left: 94.5% ;
    bottom: 2%;
}

.main {
    background-color: rgb(235, 200, 135); 
    padding: 0 30px; 
    display: flex; 
    flex-direction: column
}

.main__section1 {
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 2px solid black
}

.main__secondarytittle {
    text-transform: uppercase;
}

.main__primarytext {
    text-align: justify;
}

.main__subtitle {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    text-align: justify
}

.main__primaryimg {
    width: 300px; 
    padding: 6px; 
    margin-left: 50px;
}

.main__tertiarytittle {
    background-color: rgb(235, 200, 135); 
    padding: 0 30px; 
    display: flex; 
    border: 2px solid black;
}

h2 {
    color: teal;
    text-transform: uppercase
}

.main__secondarytext {
    text-align: justify;
    color: black;
}

.main__secondaryimg {
    width: 300px; 
    padding: 6px; 
    margin-left: 50px;
}

footer section a {
    padding-left: 15px;
}

.form {
    margin-top: 10px
}

.form input {
    border-color: peru;
    background-color:antiquewhite ;
}

.form__button {
    background-color: antiquewhite;
    color: teal;
    font-weight: bold;
    border-color: peru;
}

.form__button:hover {
    color: antiquewhite;
    background-color: peru;
    border-color: teal;
    transition-timing-function: ease-in-out;
}

.footer {
    background-color: peru; 
    padding: 20px 10px;
    margin-top: 70px;
    font-family:Arial, Helvetica, sans-serif;
}

.footer section img {
    width: 40px;
}

#instagram:hover, #facebook:hover, #github:hover {
    width: 42px;
    margin: 0;
}

@media (max-width: 500px) {
    .header {
        text-align: center;
        padding-left: 10px;
    }

    .title__text {
        padding-left: 35px;
    }

    .main__section1 {
        flex-direction: column;
        padding: 0 20px;
    }
    .main__subtitle {
        text-align: right;
    }
    .main__primaryimg {
        width: 300px;
       padding-right: 50px;
    }
    .main__tertiarytittle {
        flex-direction: column;
        padding: 0 20px;
    }
    .main__secondaryimg {
        margin-left: -45px;
        width: 300px;
    }
    .form {
        text-align: start;
        display: block;
        margin-left: 10px;
    }
    .form__button {
        display: block;
        margin-top: 5px;
        margin-left: 120px;
    }
}
