.corpo {
    margin: 0; 
    padding: 0; 
    text-align: center;
}

.cabeça {
    background-color: darkmagenta; padding: 20px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: initial;
    
}

.cabeça a{
    color: aqua;
    font-family:Arial, Helvetica, sans-serif ;
}

.titulo-primario {
    color: black; text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.fundotexto1 {
    background-color: skyblue; padding: 0 30px; display: flex; flex-direction: column
    
}

.alinhamentotexto1 {
    display: flex; align-items: center; justify-content: center;
    border: 2px solid black
}

.texto1 {
    text-align: justify;
}

.titulo-secundario {
    text-transform: uppercase;
}


#legenda {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; text-align: justify
}

.imagem1 {
    width: 300px; padding: 6px; margin-left: 50px;
}

.fundotexto2 {
    background-color: skyblue; padding: 0 30px; display: flex; border: 2px solid black;
}

h2 {
    color: teal;
    text-transform: uppercase
}

.texto2 {
    text-align: justify;
    color: black;
}

.imagem2 {
    width: 300px; padding: 6px; margin-left: 50px;
}

.formulario {
    margin-top: 10px
}

.rodape {
    background-color: peru; 
    padding: 20px 10px;
     margin-top: 70px;
    font-family:Arial, Helvetica, sans-serif;
}